.profileImg {
    max-width: 20%;
    height: 250px;  /* Maintain the aspect ratio for circular images */
    border-radius: 50%;  /* This will make the image circular */
    object-fit: cover;  /* Ensures the image covers the circle properly */
    border: 3px solid #fff;  /* Optional: Add a border if desired */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}