/* Header Container */
.header {
    font-family: "Viaoda Libre", serif;
    display: flex;
    justify-content: space-between; /* Space between title and nav */
    align-items: center; /* Vertically center content */
    padding: 20px 5%; /* Add some padding */
    width: 100%;
    /* background-color: #282c34; Optional background color */
}

  /* Anna Thompson Link (Centered) */
.title {
    margin: 0;
    font-size: 2rem;
    text-align: center;
    flex-grow: 1; /* This makes sure the link grows to take available space */
}

.myNameTitle {
    text-decoration: none;
    color: rgb(41, 100, 164); /* Text color */
    font-size: 3.5rem;
}

  /* Nav Component */
nav {
    display: flex;
    justify-content: flex-end;
    width: auto;
}
