/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
.viaoda-libre-regular {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: url("./assets//imgs/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg") center/cover
    no-repeat;
  font-family: "Viaoda Libre", serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a.active {
  text-decoration: underline;
}

.download{
  font-size: 30px;
}

.prof-title{
  font-size: 30px;
} 





